
i#ok {
    font-size: 2rem;
}
@media (min-width: 767px) {
    i#ok{
        font-size: 3rem;
    }
}
@media (min-width: 992px) {
    i#ok{
        font-size: 4rem;
    }
}
@media(min-width: 1200px) {
    i#ok{
        font-size: 5rem;
    }
}